{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
{% endblock %}

{% block internal %} active {% endblock %}

{% block content %}

        <!-- Wiki Search -->
        <br>
        <form class="form-inline global-search" method='post'>
            <div class="form-group">
                <label class="sr-only">Search Wiki</label>
                <input type="search" name='search' class="form-control" placeholder="search here">
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>

    {% if results %}
    <div class="container text-center">
            <h2> {{len_results}} of {{results.number_found}} wiki found "{{ query }}" </h2>
            <br>
            {% for scored_document in results %}

                  <div class="row">
                  {% for f in scored_document.fields%}
                  {% for expr in scored_document.expressions %}
                      <a class="brand" href="{{f.value}}" target='_blank'>
                          {{f.value.strip("/") | replace("admin/internal/", "")}}
                      </a>
                      <br>

                      {% if expr.name == 'content' %}
                          {{ expr.value | safe }}
                      {% endif %}
                      <br>

                  {% endfor %}
                  {% endfor %}
                      <hr>
                  </div>
            {% endfor %}
    </div>
    {% endif %}

    <!-- Area for Pages -->
    <div class="container">

    {% if pages %}
        {%- for page_content in pages | batch(2) %}
            <div class="row">
                {%- for path, uname, last_modified, img_key, content_preview in page_content %}
                    <div class="col-md-6">
                        <h2>
                            <!-- path or title -->
                            <a class="brand" href="/admin{{path}}" target='_blank'>
                                {{path|replace("/internal/", "")}}
                            </a>
                        </h2>

                        <i>Last Modified by {{ uname }} on {{ last_modified | datetimeformat }}</i>

                        <!-- delete page confirmation -->
                        {% if admin %}
                            <a data-href="/admin/_delete/{{path.strip("/")}}" data-toggle="modal"
                               data-target="#confirm-delete" href="#">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% endif %}

                        </hr>
                        <br>

                        {% if img_key %}
                        <img src='/img{{ path }}?img_id={{img_key}}'
                             class="img-responsive img-thumbnail">
                        {% endif %}
                        <br>


                        {{content_preview|safe}}
                        <p><a class="btn btn-default" href="/admin{{path}}" role="button">View details &raquo;</a></p>
                    </div>
                {%- endfor %}
            </div>
        {% endfor %}

    {% endif %}

    </div> <!-- The End for Pages -->

{% endblock %}
